<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
    <title>掲示板</title>
    <meta name="description" content="掲示板です">
    <link th:href="@{/css/board.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div layout:fragment="layoutContent">
    <div id="board-area">
        投稿の内容を表示する場所
    </div>
    <hr>
    <form method="POST" action="/board" th:object="${commentForm}">
        <div>
            <input placeholder="名前" th:field="*{name}">
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>
        <div>
            <input placeholder="メールアドレス" th:field="*{mailAddress}">
            <span class="error-message" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}">mailAddress Error</span>
        </div>
        <div>
            <textarea placeholder="コメント内容" rows="5" cols="80" wrap="off" th:field="*{comment}">
            </textarea>
            <span class="error-message" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">comment Error</span>
        </div>
        <button>送信</button>
    </form>
</div>
</body>
</html>
